#navMain {
    margin: 10% 4% 5% 4%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: #0048EA;
}


#intro {
    margin: 0 6%;
    margin-bottom: 10%;
}

h1 {
    font-family: 'Clash Display SemiBold';
    color: #FF8BD7;
    font-size: 5em;
    margin-bottom: 2%;
    letter-spacing: 0.05em;
}

p {
    font-family: 'SF Pro';
    font-size: 1.2em;
    line-height: 32px;
}

#project-container {
    display: grid;
    grid-gap: 1%;
    grid-template-columns: 1fr 1fr;
    margin: 0 4%;
}


.project-item {
    margin-top: 0;
}

.project-item img {
    width: 100%;
    height: auto;
}

a img{
    max-width: 100%;
}

a img:last-child {
    display: none;
}

a:hover img:last-child {
    display: block;
}

a:hover img:first-child {
    display: none;
}

#gif {
    margin: 1% 4%;
}

#gif a img{
    display: block;
}


/*------------- RESPOSIVIDADE --------------*/

@media screen and (max-width: 900px) {
    h1 {
        font-size: 3em;
        letter-spacing: 0.03em;
    }
    
    p {
        font-size: 1em;
        line-height: 24px;
    }
}

@media screen and (max-width: 600px) {
    main{
        margin-top: 32%;
    }

    #navMain {
        margin: 0 8% 5% 8%;
    }
    #project-container {
        grid-template-columns: 1fr;
        margin: 0 8%;
    }
    h1 {
        font-size: 2em;
        letter-spacing: 0.03em;
    }
    #intro {
        margin: 0 8%;
        margin-bottom: 10%;
    }
    #gif {
        margin: 2% 8%;
    }

}
